<h1>Страница помощи</h1>
<p>Чтобы рабтать с систеймой нужно дабавить приложения для раскрутки</p>
<img src="http://joxi.ru/a2Xx8Y3uy34Z92.jpg" width="100%">
<img src="http://joxi.ru/J2b9pX1t4bVYjm.jpg" width="100%" ><br>
<p>На странице просмотра приложения нужно добавить рекламные кампании</p>
<img src="http://joxi.ru/vAW47e3IkZOV6r.jpg"  width="100%"><br>
<p>К каждой рекламной кампании нужно добавить виды рекламы для ротации</p>
<img src="http://joxi.ru/8AnGPN6iq4yR3r.jpg"><br>
<p>После этого реклама будет показываться на сторонных подключенных сайтах и будет производиться сбор статистики</p>
<img src="http://joxi.ru/Vrw3PeqsKD45wr.jpg" width="100%">

