<h1>Реклама</h1>
<% if @creative.image.url != "/images/original/missing.png" %>
   <%= image_tag @creative.image.url %>
<% else %>
    <p><%= @creative.description %></p>
<% end %>
<%= link_to 'Редактировать', edit_campaign_creative_path(@campaign,@creative) %> |
<%= link_to 'Назад', campaign_creatives_path(@campaign) %>
