<ul class="nav nav-pills nav-stacked" style="margin-top: 10px;">
  <li role="presentation"><a href="#">Приложения</a></li>
  <li role="presentation"><a href="#">Компании</a></li>
  <li role="presentation"><a href="#">Статистика</a></li>
  <li role="presentation"><a href="#">Оплата</a></li>
  <li role="presentation"><a href="<%= help_path %>">Помощь</a></li>
</ul>